<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{475,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,249}}</string>
                <key>sourceSize</key>
                <string>{475,249}</string>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,479},{474,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,250}}</string>
                <key>sourceSize</key>
                <string>{474,250}</string>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,508},{475,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,249}}</string>
                <key>sourceSize</key>
                <string>{475,249}</string>
            </dict>
            <key>bg_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{475,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{475,249}}</string>
                <key>sourceSize</key>
                <string>{475,249}</string>
            </dict>
            <key>cb_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,59},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{158,55}</string>
            </dict>
            <key>cb_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,2},{156,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{156,55}}</string>
                <key>sourceSize</key>
                <string>{158,55}</string>
            </dict>
            <key>close_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{74,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,75}}</string>
                <key>sourceSize</key>
                <string>{74,75}</string>
            </dict>
            <key>desktop_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,955},{246,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{246,28}}</string>
                <key>sourceSize</key>
                <string>{248,28}</string>
            </dict>
            <key>effect_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,192},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>left_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,135},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>mahjong1_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,116},{61,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,88}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>mahjong2_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,179},{61,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,87}}</string>
                <key>sourceSize</key>
                <string>{61,87}</string>
            </dict>
            <key>mahjong3_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,116},{61,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,88}}</string>
                <key>sourceSize</key>
                <string>{61,88}</string>
            </dict>
            <key>mahjong_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,985},{246,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{246,32}}</string>
                <key>sourceSize</key>
                <string>{248,32}</string>
            </dict>
            <key>music_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,985},{70,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,29}}</string>
                <key>sourceSize</key>
                <string>{70,29}</string>
            </dict>
            <key>right_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,78},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,74}}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>select_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,955},{62,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,87}}</string>
                <key>sourceSize</key>
                <string>{62,87}</string>
            </dict>
            <key>sound_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,504}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,504}}</string>
                <key>sourceSize</key>
                <string>{314,504}</string>
            </dict>
            <key>sound_label1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,985},{246,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{246,32}}</string>
                <key>sourceSize</key>
                <string>{248,32}</string>
            </dict>
            <key>spot_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,479},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>spot_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,479},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>title_setting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{71,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,11},{71,35}}</string>
                <key>sourceSize</key>
                <string>{311,59}</string>
            </dict>
            <key>vibration_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,985},{69,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,30}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_setting.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12b50a411fe9b2c4295e3580642a4ab1:1/1$</string>
            <key>textureFileName</key>
            <string>game_setting.png</string>
        </dict>
    </dict>
</plist>
