<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hh_z_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,258},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,258},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,398},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,328},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,258},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,194},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,194},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,194},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,194},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,404},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,334},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,264},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,194},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,130},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,130},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,130},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,130},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,130},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,410},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,340},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,270},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,200},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,130},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,258},{68,58}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{68,58}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_hua_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
            <key>hh_z_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{68,62}}</string>
                <key>sourceSize</key>
                <string>{68,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hh_face_z.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ad90f128e92daf357394718f6c59970$</string>
            <key>textureFileName</key>
            <string>hh_face_z.png</string>
        </dict>
    </dict>
</plist>
