<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hh_z_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{71,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{141,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{351,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{421,1},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{71,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{141,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{351,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{421,67},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{71,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{141,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{351,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{421,133},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{71,199},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{141,199},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,199},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,199},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{351,199},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{68,58}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{421,199},{68,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_bei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{71,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{141,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_fa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_chun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{351,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_ju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{421,265},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_mei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{71,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{141,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{211,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_hua_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{281,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{351,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_xi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{421,331},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_z_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,397},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hh_face_z.png</string>
            <key>size</key>
            <string>{490,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0936434d2b0553b9c94c08f8f6afefa3:f84be8260a4875dc369aba52a65564e3:c78c1d057d389dbd443808ad77eacdd4$</string>
            <key>textureFileName</key>
            <string>hh_face_z.png</string>
        </dict>
    </dict>
</plist>
