<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qzmj_Text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,52},{41,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{37,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,200},{39,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,22},{13,14}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{13,14}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,22},{13,14}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{13,14}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,22},{13,14}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{13,14}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,102},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{41,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{41,48}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{45,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,148},{41,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{41,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,196},{45,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{45,40}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{13,18}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{13,18}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{43,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,48}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
            <key>qzmj_Text_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{41,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{41,46}}</string>
                <key>sourceSize</key>
                <string>{45,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wait_text.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b6d784c15b6a3de88766a560be5af72$</string>
            <key>textureFileName</key>
            <string>wait_text.png</string>
        </dict>
    </dict>
</plist>
