<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,215},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,144},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,144},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,417},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,326},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,235},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,73},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,73},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,73},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,346},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,255},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,164},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,73},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,69}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,280},{69,63}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,215},{69,63}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,215},{69,63}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,286},{69,63}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,381},{69,63}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,215},{69,63}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{69,63}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,306},{73,65}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,381},{73,65}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,306},{73,65}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,437},{73,65}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,437},{73,65}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
            <key>dice_over_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{73,65}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,65}}</string>
                <key>sourceSize</key>
                <string>{89,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dice.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbc910e3bf6b250ebc58ad0299e246a8$</string>
            <key>textureFileName</key>
            <string>dice.png</string>
        </dict>
    </dict>
</plist>
