<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hh_suit_y_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,329},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,307},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,329},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,246},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,246},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,412},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,329},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,246},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,185},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,185},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,434},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,351},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,268},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,185},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,434},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,351},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,268},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,185},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,124},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,124},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,124},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,124},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,373},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,290},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,207},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,124},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,63},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,412},{81,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,57}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,63},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,63},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,63},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_fa.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_hua_zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_xi.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
            <key>hh_suit_y_zhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,59}}</string>
                <key>sourceSize</key>
                <string>{81,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hh_face_suit_y.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:117e32cf108f64aa9d2ad246bed0ac8a$</string>
            <key>textureFileName</key>
            <string>hh_face_suit_y.png</string>
        </dict>
    </dict>
</plist>
