<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_face1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{79,79}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{79,79}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>btn_face2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1037},{79,81}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{79,81}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>btn_face3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,956},{79,81}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,18},{79,81}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>btn_face4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,715},{81,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{81,95}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>btn_face5.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,424},{107,87}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{107,87}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>btn_face6.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1118},{79,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{79,79}}</string>
                <key>sourceSize</key>
                <string>{117,101}</string>
            </dict>
            <key>btn_wordbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,513},{216,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,103}}</string>
                <key>sourceSize</key>
                <string>{216,103}</string>
            </dict>
            <key>chat_rect.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,948},{215,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,97}}</string>
                <key>sourceSize</key>
                <string>{215,97}</string>
            </dict>
            <key>chat_rect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,884},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,70}</string>
            </dict>
            <key>chat_rect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,731},{215,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,97}}</string>
                <key>sourceSize</key>
                <string>{215,97}</string>
            </dict>
            <key>chat_rect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,812},{87,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{87,70}</string>
            </dict>
            <key>chatbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{493,551}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,551}}</string>
                <key>sourceSize</key>
                <string>{493,551}</string>
            </dict>
            <key>chatbg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{480,539}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,539}}</string>
                <key>sourceSize</key>
                <string>{480,539}</string>
            </dict>
            <key>deepBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,162},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>delay_Text.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,8},{401,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,32}}</string>
                <key>sourceSize</key>
                <string>{401,32}</string>
            </dict>
            <key>interval.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{412,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,4}}</string>
                <key>sourceSize</key>
                <string>{412,4}</string>
            </dict>
            <key>shallowBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,122},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>spot1.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,37},{7,7}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,7}}</string>
                <key>sourceSize</key>
                <string>{45,7}</string>
            </dict>
            <key>spot2.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,8},{27,7}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,7}}</string>
                <key>sourceSize</key>
                <string>{45,7}</string>
            </dict>
            <key>spot3.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,2},{45,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,7}}</string>
                <key>sourceSize</key>
                <string>{45,7}</string>
            </dict>
            <key>text_word1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,162},{148,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,17},{148,36}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>text_word2.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,401},{312,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,15},{312,38}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>text_word3.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,11},{388,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{388,38}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>text_word4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,82},{374,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,16},{374,38}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>text_word5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,42},{386,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{386,38}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>text_word6.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,122},{338,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,15},{338,38}}</string>
                <key>sourceSize</key>
                <string>{460,70}</string>
            </dict>
            <key>word1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,929},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,137}</string>
            </dict>
            <key>word1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,790},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,137}</string>
            </dict>
            <key>word1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,651},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,137}</string>
            </dict>
            <key>word1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,512},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,137}</string>
            </dict>
            <key>word1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,373},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,137}</string>
            </dict>
            <key>word1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,234},{288,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,137}}</string>
                <key>sourceSize</key>
                <string>{288,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quick_chat.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d7672023e2e636de2999c45ab9ae6f5:1/1$</string>
            <key>textureFileName</key>
            <string>quick_chat.png</string>
        </dict>
    </dict>
</plist>
