<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hh_suit_y_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,1},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,1},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,1},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,1},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,1},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,1},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,62},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,62},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,62},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,62},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,62},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,62},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,123},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,123},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,123},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,123},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,123},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_2_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,123},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,184},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,184},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,184},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,184},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,184},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,184},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,245},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,245},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_3_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,245},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,245},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_bai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,245},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_bei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,245},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,306},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_fa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,306},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_chun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,306},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,306},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_ju.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,306},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_lan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,306},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_mei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,367},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{84,367},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_xia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{167,367},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_hua_zhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{250,367},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_nan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{333,367},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_xi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{416,367},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hh_suit_y_zhong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,59}</string>
                <key>spriteSourceSize</key>
                <string>{81,59}</string>
                <key>textureRect</key>
                <string>{{1,428},{81,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hh_face_suit_y.png</string>
            <key>size</key>
            <string>{498,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e9e8637ea9fb1c0a8efef78ebfc8004:73fcab636565175e19d5bb0fe2768caa:6131bf84c19861d07374d1fc72eee214$</string>
            <key>textureFileName</key>
            <string>hh_face_suit_y.png</string>
        </dict>
    </dict>
</plist>
